.button {
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  width: 80px;
  height: 40px;
  background-color: rgb(245, 250, 219);
  border-radius: 5px;
  border: 1px solid #222222;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.good {
  composes: button;
  color: rgb(6, 66, 231);
}
.good:hover,
.neutral:hover,
.bad:hover {
  background-color: rgb(236, 134, 1);
  transform: scale(1.08);
}

.neutral {
  composes: button;
  color: rgb(22, 104, 1);
}
.bad {
  composes: button;
  color: rgb(252, 42, 5);
}
